* {
    margin: 0%;
    padding: 0%;
}
body    {
    font-family: 'Recursive';
}
.contenedor {
    width: 90%;
    margin: auto;
}
.logo   {
    color: white;
}
header{
    background-color: #435E7A;
    padding: 20px;
}
h3  {
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
    font-family: 'Recursive';
}
nav {
    display: flex;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.7s;
}
header nav a:hover  {
    color:white;
    text-decoration: underline;
}
li{
    list-style: none;
}
.central{
    background:url(../imagenes/5c811e1193f9b.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;

}
.servicios {
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    color: #202D3B;
    font-family: 'Recursive';
    font-size: 20px;
}
.servicios h2{
    margin-top: 2%;
    font-family: 'Recursive';
    font-size: 20px;
    justify-content: center;
}
.servicios p{
    font-family: 'Recursive';
    font-size: 20px;
    justify-content: center;

}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color:#435E7A ;
    padding: 20px;
}
input   {
    padding: 0px 5px;
    font-size: 20px;
    font-family: 'Recursive';

}
.iframe {
    margin-top: 5%;
    text-align: center;
}
.form   {
    margin-top: 5%;
    display: block;
    text-align: center;
}
.inp    {
    margin-top: 5px;
    border: 2px solid #202D3B;
    border-radius: 10px;
    width: 50%;
}

.newsletter h4{
    margin-bottom: 10px;
}
button  {
    padding: .7rem 2rem;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover    {
    background-color: #8AC0FA ;
}
footer  {
    background-color: #202D3B;
    color: white;
    padding: 30px;   
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 1rem;
}
footer p{
    text-align: center;
    margin-top: 20px;
}