* {
    margin: 0%;
    padding: 0%;
}
body    {
    font-family: 'Recursive';
}
.contenedor {
    width: 90%;
    margin: auto;
}
.logo   {
    color: white;
}
header{
    background-color: #435E7A;
    padding: 20px;
}
h3  {
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
    font-family: 'Recursive';
}
nav {
    display: flex;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.7s;
}
header nav a:hover  {
    color:white;
    text-decoration: underline;
}
li{
    list-style: none;
}
.central{
    background:url(../imagenes/4.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;

}
h1  {
    color: #435E7A;
    text-align: left;
    font-size: 60px;
    font-family: 'Recursive';
    font-weight: 700;
}
.central p{
    color: black;
    text-align: left;
    font-size: 30px;
    font-family: 'Recursive';
}
.row    {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.card1   {
    width: 20%;
    background: white;
    border: 1px solid #CCC;
    margin-bottom: 50px;
    transition: 0.3s;

}

.card2   {
    width: 20%;
    background: white;
    border: 1px solid #CCC;
    margin-bottom: 50px;
    transition: 0.3s;
}
.card3   {
    width: 20%;
    background: white;
    border: 1px solid #CCC;
    margin-bottom: 50px;
    transition: 0.3s;

}
.card-header img{
    text-align: center;
    width: 100%;
}
.card-p1 {
    padding: 30px 20px;
    text-align: center;
    font-size: 20px;

}
.card-p2 {
    padding: 30px 20px;
    text-align: center;
    font-size: 20px;

}
.card-p3 {
    padding: 30px 20px;
    text-align: center;
    font-size: 20px;
}
.btn   {
    display: block;
    color: white;
    text-align: center;
    background-color:#435E7A ;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 5px;
}
/*ANIMACION*/
.card1:hover {
    transform: scale(1.05);
}
.card2:hover {
    transform: scale(1.05);
}
.card3:hover {
    transform: scale(1.05);
}
.tarjetas   {
    margin-top: 100px;
}
.info   {
    margin-top: 60px;
    display: flex;
    gap: 2rem;
    align-items: center;

}
.info img{
    margin-left: 15px;
}
.info p{
    color: #435E7A ;
    font-size: 15px;
    margin: 8px;
    font-family: 'Recursive';
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color:#435E7A ;
    padding: 20px;
}
input   {
    padding: 0px 5px;
    font-size: 20px;
    font-family: 'Recursive';

}
.iframe {
    margin-top: 5%;
    text-align: center;
}
.form   {
    margin-top: 5%;
    display: block;
    text-align: center;
}
.inp    {
    margin-top: 5px;
    border: 2px solid #202D3B;
    border-radius: 10px;
    width: 50%;
}

.newsletter h4{
    margin-bottom: 10px;
}
button  {
    padding: .7rem 2rem;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover    {
    background-color: #8AC0FA ;
}
footer  {
    background-color: #202D3B;
    color: white;
    padding: 30px;   
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 1rem;
}
footer p{
    text-align: center;
    margin-top: 20px;
}
/*IPAD*/
@media screen and (max-width:1000px) {
  .tarjetas {
      width: 100%;
  }
}
/*Iphone*/
@media screen and (max-width:620px) {
    .tarjetas {
        width: 90%;
    }
  }

@media (max-width:620px) {
    .central {
        height: 200px;
    }
    .central h1{
        font-size: 30px;
    }
    .central p{
        font-size: 20px;
    }
  }

  @media (max-width:620px) {
    nav {
        display: block;
    }
  }
  @media (max-width:620px) {
    .info{
        display: flex;
        flex-direction: column;
    }
    .info img {
        height: 175px;
        padding-right: 10px;
    }
  }




